<section>
  <h2>Hola.</h2>
  <div>
    <figure>

    </figure>
    <div >
      <p>Soy Guillermo Vidal Salgueiro, desarrollador full-stack especializado en el stack MEAN.</p>
      <p> Me enfoqué principalmente en JavaScript, donde construí una base sólida que me permitió desenvolverme con gran confianza en Angular y Node.js. Además, poseo destrezas en HTML, CSS, Bootstrap, MongoDB, MySQL, Express, TypeScript y algo de testing con Jest.</p>
      <p>He creado diversos proyectos que destacan mi habilidad como fullstack developer. Mi versatilidad tanto en el front-end como en el back-end refleja mi confianza en cómo me desenvuelvo con estas tecnologías. Estos proyectos, abordando desafíos técnicos diversos, son testimonio de la amplitud de mis habilidades. Mi enfoque fullstack es el resultado de conocimientos sólidos y un entusiasmo constante por mantenerme actualizado en las últimas tecnologías.</p>
    </div>
  </div>

</section>

<div class="container formacion">
  <h2 class="mb-5">Formación.</h2>
  <p>Hace más de un año que comencé en el mundo de la programación. Al principio, me sumergí en el aprendizaje autodidacta, y más tarde tuve la suerte de realizar una formación con un equipo docente increíble, lo que aceleró mi aprendizaje de forma exponencial. Entre las tecnologías que utilizo en mi día a día y para proyectos personales se encuentran JavaScript, HTML, CSS, Bootstrap y Angular para el front-end, y Node.js con Express, MongoDB y MySQL para el back-end. Para las pruebas de testing, utilizo Jest.
  </p>
    <p>
    En mi hoja de ruta para este 2024, tengo como objetivo afianzar y practicar más con React para ampliar mis conocimientos en frameworks de front-end, así como integrar Tailwind CSS en el proceso. En cuanto al back-end, planeo crear más proyectos con Node.js y aprender Nest.js para fortalecer mi stack MEAN. No olvido la importancia de practicar siguiendo los principios SOLID y la Clean Architecture.
  </p>
    <p>
    Estoy emocionado por continuar este viaje y soy consciente de la importancia de la mejora continua. Además, planeo participar en proyectos prácticos que aborden problemas del mundo real y unirme activamente a comunidades en línea para colaborar y aprender de otros desarrolladores.</p>
</div>
