<section class="container">

  <div class="hero">
    <p class="hola" [routerLink]="['/about']">HOLA, MI NOMBRE ES GUILLE  </p>
    <h1>Creo aplicaciones web </h1>
    <div>
      <p >Soy desarrollador Full-Stack, especializado en el stack MEAN</p>
    </div>
    <p class="CV">Aquí tienes mi <a class="ms-3" [href]="cvUrl" download="cv_guillermoVidal-fullstack.pdf" target="_blank" rel="noopener noreferrer">CV <i class="fa-solid fa-id-card ms-2"></i></a> </p>
  </div>

  <div class="projects">
    <h2>Proyectos</h2>
    <div>
      <app-card-project [project]="project" *ngFor="let project of arrProjects"></app-card-project>

    </div>


  </div>

  <div class="contact">
    <h2>Contacto</h2>
    <div class="iconos-contact">
      <a href="https://wa.me/628850384" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="mailto: Guillle912@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
      <a href="tel: 628850384"><i class="fa-solid fa-phone"></i></a>
    </div>

    <div>
      <p>Si tienes alguna pregunta, no dudes en escribirme a <a href="mailto: Guillle912@gmail.com" target="_blank">Guillle912@gmail.com</a>
      llamarme al <a href="tel: 628850384">628 85 03 84</a> o contactarme por WhatsApp: <a href="https://wa.me/628850384" target="_blank">Enviar mensaje</a> y mis otras RRSS</p>


    </div>
  </div>


</section>
