<section>
  <nav class="navbar navbar-expand-lg ">
    <div class="container menu">
      <figure class="navbar-brand logo" >

      </figure>
      <p>Guille <a  class="ms-1 linkedin"  href="http://www.linkedin.com/in/guillle912" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span id="menuBurguer"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <p class="" routerLinkActive="active"  [routerLink]="['/home']"><span>01</span> Home</p>
          </li>
          <li class="nav-item">
            <p class="" routerLinkActive="active" [routerLink]="['/about']"><span>02</span> About</p>
          </li>
          <li class="nav-item ms-3" (click)="toggleModo()"><i class="fa-solid fa-circle-half-stroke"></i></li>
        </ul>
      </div>
    </div>
  </nav>

</section>
